<nav class="navbar navbar-toggleable-md navbar-dark bg-dark-gray bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/account/">TMB Access</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/support/log/">Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support/?content=course.course">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support/?content=event.event">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/support/?content=survey.survey">Survey</a>
            </li>
        </ul>
  </div>
</nav>